/******************************************************************************
 * Fonts.
 ******************************************************************************/

@font-face {
  font-family: 'UbuntuRegular';
  src: url('vac-templater/default/fonts/Ubuntu-Regular-webfont.eot');
  src: url('vac-templater/default/fonts/Ubuntu-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('vac-templater/default/fonts/Ubuntu-Regular-webfont.woff') format('woff'),
       url('vac-templater/default/fonts/Ubuntu-Regular-webfont.ttf') format('truetype'),
       url('vac-templater/default/fonts/Ubuntu-Regular-webfont.svg#UbuntuRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMedium';
  src: url('vac-templater/default/fonts/Ubuntu-Medium-webfont.eot');
  src: url('vac-templater/default/fonts/Ubuntu-Medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('vac-templater/default/fonts/Ubuntu-Medium-webfont.woff') format('woff'),
       url('vac-templater/default/fonts/Ubuntu-Medium-webfont.ttf') format('truetype'),
       url('vac-templater/default/fonts/Ubuntu-Medium-webfont.svg#UbuntuMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

/******************************************************************************
 * Top level.
 ******************************************************************************/

@import "mixins";
@import "variables";

html, body,
body.authenticated-layout #content {
  height: 100%;
  min-height: 100%;
}

body {
  font: 14px 'UbuntuRegular', Verdana, Arial, sans-serif;
  line-height: 20px;
  overflow-y: auto;
  &.anonymous-layout {
    background-color: white;
    background-image: url('vac-templater/default/images/background.jpg');
    background-repeat: repeat-x;
    > .container {
      position: relative;
      top: 150px;
    }
  }
  &.authenticated-layout {
    background-color: #F7F7F7;
    background-position: 0px 57px;
    > .container {
      position: absolute;
      top: 41px;
      right: 0;
      bottom: 0;
      left: 0;
    }
    #primary-navbar {
      a.navbar-brand {
        background: url('vac-templater/default/images/header-logo.png') 0 0 no-repeat;
        width: 97px;
        height: 37px;
        margin: 2px 5px 0px 0px;
      }
    }
  }
}

p, li {
  text-align: justify;
}

.description {
  color: #666666;
  font-size: 11px;
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

/******************************************************************************
 * Sidebar.
 ******************************************************************************/

body.authenticated-layout .with-sidebar,
body.authenticated-layout .with-sidebar > .sidebar {
  height: 100%;
  min-height: 100%;
}

body.authenticated-layout .with-sidebar > .container {
  min-height: 100%;
}

#content > .with-sidebar {
  padding-left: $sidebarWidth;
  position: relative;
  > .sidebar {
    position: absolute; // JS behavior will change this to fixed and calculate required padding-left.
    top: 0px;
    left: 0px;
    width: $sidebarWidth;
    border-right: 1px solid #E5E5E5;
    background-color: #F7F7F7;
    ul.nav.nav-tabs {
      margin-top: 0px;
      margin-bottom: 0;
      border-bottom: none;
      position: relative;
      right: -1px;
      li {
        width: 100%;
        .btn-more {
          display: none;
        }
      }
      li > a {
        position: relative;
        border: none;
        text-align: center;
        font-size: 11px;
        padding-bottom: 3px;
        display: block;
        color: #555;
      }
      li.active:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: -15px;
        width: 18px;
        height: 18px;
        background: #FFFFFF;
        border-left: 1px solid #DDDDDD;
        border-top: 1px solid #DDDDDD;
        -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%); // IE9 only
        -o-transform: rotate(-45deg) translate(0, -50%);
        transform: rotate(-45deg) translate(0, -50%);
      }
    }
  }

  > .collapsed {
    display: none;
    position: fixed;
    z-index: 9999;
    ul.nav.nav-pills {
      background-color: white;
      border: 1px solid #E5E5E5;
      border-radius: 4px;
      li > a {
        text-align: center;
        color: #555;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -2px;
        width: 18px;
        height: 18px;
        background: #FFFFFF;
        border-left: 1px solid #DDDDDD;
        border-top: 1px solid #DDDDDD;
        -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%); // IE9 only
        -o-transform: rotate(-45deg) translate(0, -50%);
        transform: rotate(-45deg) translate(0, -50%);
      }
    }
  }

  > .sidebar,
  > .collapsed {
    .nav {
      .glyphicon {
        font-size: 35px;
        margin-bottom: 5px;
        margin-top: 5px;
        color: black;
      }
      li:hover > a,
      li.active > a {
        background: none;
        color: #08C !important;
        .glyphicon {
          @include opacity(1);
        }
      }
      li .glyphicon {
        @include opacity(0.5);
      }
    }
  }

  > .container {
    position: relative;
    width: auto;
    border-right: 1px solid #E5E5E5;
    background-color: white;
    background-image: url('vac-templater/default/images/background.jpg');
    background-repeat: repeat-x;
    background-position: 0 -20px;
    > .inner-container {
      padding: 20px;
      margin-bottom: 40px;
      .page-header {
        padding: 0;
        margin-top: 0;
        border-bottom: none;
        h1 {
          margin-top: 0;
          font-size: 25px;
          small {
            font-size: 14px;
          }
        }
      }
      #breadcrumb {
        background-color: #f7f7f7;
        box-shadow: 0 0 1px #ffffff;
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        margin: 0 -20px 30px;
        padding: 0 35px;
        font-size: 11px;
        a, .item {
          padding: 8px 21px 8px 10px;
          display: inline-block;
          color: #666666;
          position: relative;
          &.current {
            font-weight: bold;
            color: #444444;
          }
          &:not(:last-child) {
            &:after {
              font-family: 'Glyphicons Halflings';
              content: "\e258";
              position: absolute;
              right: 0;
            }
          }
        }
        a:hover {
          color: #333333;
        }
      }
    }
  }
}

/******************************************************************************
 * Footer.
 ******************************************************************************/

body footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  overflow: hidden;
}

body.authenticated-layout footer {
  clear: both;
  position: absolute;
  padding-right: 0;
  padding-left: 0;
  font-size: 90%;
}

body.authenticated-layout .with-sidebar footer {
  padding-right: 20px;
  padding-left: 20px;
}

/******************************************************************************
 * Forms.
 ******************************************************************************/

// Tweaks.
form {
  fieldset {
    margin-bottom: 20px;

    legend + .help-block {
      font-size: 90%;
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }

  // Default value (5px) causes alignment problems between inputs
  // and prepend/appends in Chrome (OSX only).
  label {
    margin-bottom: 4px;
  }

  .help-block {
    color: #888;
    font-size: 85%;
    text-align: justify;
  }

  .form-group {
    .help-block {
      margin-bottom: 0;
    }
    &.checkbox-select-multiple, &.radio-select {
      ul {
        list-style: none;
        label {
          font-weight: normal;
        }
      }
    }
  }
}

/******************************************************************************
 * Select2.
 ******************************************************************************/

.select2-container {
  .select2-selection {
    height: 34px;
    .select2-selection__rendered {
      line-height: 34px;
    }
    .select2-selection__arrow {
      top: 5px;
    }
  }
}

.has-error {
  .select2-container {
    .select2-selection {
      border-color: #a94442;
    }
  }
}

/******************************************************************************
 * Throbbers.
 ******************************************************************************/

.throbber-global {
  visibility: hidden;
  position: fixed;
  right: 4px;
  top: 4px;
  z-index: 5000;
  background: transparent url('vac-templater/default/images/throbber-global.gif') no-repeat;
  height: 32px;
  width: 32px;
}

body.ajaxing .throbber-global {
  visibility: visible;
}

.btn.ajaxing i {
  background-image: url('vac-templater/default/images/throbber-button.gif') !important;
  &:before {
    visibility: hidden;
  }
}

/******************************************************************************
 * Notifications (common stuff).
 ******************************************************************************/

.notification {
  background-size: 40px 40px;
  @include gradient-striped(rgba(255,255,255,.05), 135deg);
  box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
  color: #fff;
  padding: 15px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  &.success {
    background-color: #61b832;
    border-color: #55a12c;
  }
  &.error {
    background-color: #C02822;
    border-color: #c43d3d;
  }
  &.warning {
    background-color: #eaaf51;
    border-color: #d99a36;
  }
  &.info {
    background-color: #4ea5cd;
    border-color: #3b8eb5;
  }
  p a,
  p a:link,
  p a:visited,
  p a:active,
  p a:hover {
    color: #FFF;
    border-bottom: 1px dotted #FFF;
  }
}

/******************************************************************************
 * Inline notifications.
 ******************************************************************************/

.inline-notification {
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  p {
     margin: 0;
  }
  a.close {
    margin-top: -10px;
    margin-right: -6px;
  }
}

/******************************************************************************
 * Cool notifications.
 ******************************************************************************/

.cool-notification {
  width: 100%;
  @include box-sizing(border-box);
  position: fixed;
  z-index: 2000;
  h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
  }
  p {
     margin: 0;
     font-size: 15px;
     line-height: 20px;
  }
}

/******************************************************************************
 * Floating notifications (jQuery Notify UI Widget).
 ******************************************************************************/

.ui-notify {
  width: 500px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2000;
}

.ui-notify-message {
  margin-top: 15px;
}

.floating-notification {
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
  .ui-notify-contents p {
     margin: 0;
     font-size: 15px;
     line-height: 20px;
  }
  .ui-notify-click {
    cursor: pointer;
  }
  a.close {
    margin-top: -10px;
    margin-right: -6px;
  }
}

/******************************************************************************
 * Pages.
 ******************************************************************************/

@import "pages";
